<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>207958419639-p8ds1mige1bj4g8fdtit0f2ft30fg6oe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.207958419639-p8ds1mige1bj4g8fdtit0f2ft30fg6oe</string>
	<key>API_KEY</key>
	<string>AIzaSyDkc1ZpVJmIpeHTkBD2eX4jc-qr7UKmWxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>207958419639</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ap103.CuckooChicken</string>
	<key>PROJECT_ID</key>
	<string>cuckoo-chicken</string>
	<key>STORAGE_BUCKET</key>
	<string>cuckoo-chicken.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:207958419639:ios:a6ae4f3670045677</string>
	<key>DATABASE_URL</key>
	<string>https://cuckoo-chicken.firebaseio.com</string>
</dict>
</plist>